config
# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

*.env

# Force install of dependencies in codefresh
charts/codefreshbot/charts/*.tgz
# Misc test scripts
*.sh